<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the deck builder</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      text-align: center;
    }
    .button {
      padding: 10px 20px;
      margin: 10px;
      font-size: 18px;
      cursor: pointer;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Welcome to the deck builder</h1>
  <button mat-button class="button" routerLink="['\card-table]">Search for Cards</button>
  <button mat-button class="button" routerLink="">Create your deck</button>
</div>
</body>
</html>
